@use './utils/variables' as *;

@use './components/Header';
@use './components/Hero';
@use './components/Benefits';
@use './components/Taste';
@use './components/How-Made';
@use './components/Products';
@use './components/Top-seller';
@use './components/Reviews';
@use './components/Newsletter';
@use './components/Footer';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $font-family_1;
	background-color: $background-color_1;
}

h2 {
	margin: 0 auto;
	padding-bottom: 50px;
    width: 411px;
	
	font-family: $font-family_1;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
	letter-spacing: -0.72px;
	letter-spacing: -0.03em;
}